name: AVD test

on: push

jobs:
    avd:
        runs-on: ubuntu-20.04
        container: reactnativecommunity/react-native-android:1.0.4
        steps:
            - run: avdmanager create avd -n testEmulator -k "system-images;android-19;google_apis;armeabi-v7a"