name: AVD test

on: push

jobs:
    avd:
        runs-on: ubuntu-20.04
        container: reactnativecommunity/react-native-android:1.0.6
        env:
          AVD_NAME: test
        steps:
            - run: echo no | avdmanager create avd -n $AVD_NAME -k "system-images;android-21;google_apis;armeabi-v7a"
            - run: avdmanager list avd
            - run: emulator -list-avds
            - run: emulator $AVD_NAME -no-snapshot -no-window
            # - run: emulator -avd $AVD_NAME -no-snapshot -no-window &
            # - run: adb wait-for-device
            # - run: |
            #     curl -sS https://raw.githubusercontent.com/travis-ci/travis-cookbooks/master/community-cookbooks/android-sdk/files/default/android-wait-for-emulator -o android-wait-for-boot.sh
            #     chmod +x ./android-wait-for-boot.sh && ./android-wait-for-boot.sh
            #     adb shell input keyevent 82