name: AVD test

on: push

jobs:
    avd:
        runs-on: ubuntu-20.04
        container: reactnativecommunity/react-native-android:1.0.6
        env:
          AVD_NAME: test
        steps:
            - run: |
                export ANDROID_SDK_HOME=$HOME # workaround github actions where $HOME is not equal to ~
                export AVD_NAME=testEmulator
                
                echo no | avdmanager create avd -n testEmulator -k "system-images;android-21;google_apis;armeabi-v7a"
                emulator -avd testEmulator -no-audio -no-cache -no-snapshot -no-window &
                
                echo "Waiting until the device is ready"
                adb wait-for-device
                
                # The device is now booting, or close to be booted
                # We just wait until the sys.boot_completed property is set to 1.
                while [ "$(adb shell getprop sys.boot_completed | tr -d '\r')" != "1" ]; do
                  echo "Waiting for boot.."
                  sleep 5
                done
                
                echo "The device is ready"
                adb shell input keyevent 82
            